.images {
    width: 25px;
}
#navs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: slategrey;
}

h1 {
    color: white;
}
body {
    margin: 0;
}
* {
    font-family: courier;
}